@charset "UTF-8";

section.background-imagem {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section#introducao {
  background-image: url(../imagens/capa-mobile.jpg);
}
