@charset "UTF-8";

/* Links em elementos */

div.elementos {
  background-color: var(--cor11);
  width: 92vw;
  height: 124px;
  border-radius: 10px;
  color: var(--cor07);
  margin-top: 8px;
  margin-bottom: 20px;

  display: flex; /*Filhos exibidos em linha*/
  align-items: center; /*Alinha os elementos verticalmente*/

  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  transition: 2s;
}
div.icone {
  height: 65px;
  width: 65px;

  background-image: linear-gradient(to top right, var(--gradiente-colorido));
  padding: 19px;
  margin: 12px;
  border-radius: 50%;
  /* Alinhar icone dentro */
  display: flex;
  justify-content: center;
  align-items: center;
}
div.link > p {
  font-family: var(--fonte-titulos);
  font-size: 2.25em;
  text-decoration: none;
}
span.icone-elementos {
  font-size: 75px;
}
/* Ao passar link em cima */
a.bloco-link:hover > div.elementos {
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.5);

  transition: 2s;
}
a.bloco-link:hover div.icone {
  background-image: linear-gradient(to bottom left, var(--gradiente-colorido));
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
