@charset "UTF-8";

/* Fontes baixadas */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@font-face {
  font-family: Gravidaz;
  src: url(../fontes/Gravidaz.otf) format("opentype");
  font-weight: normal;
}

/* Configurações padrão */
:root {
  /* PALETA DE CORES */
  /* Tema colorido */
  --cor01: #2b3a67;
  --cor02: #004569;
  --cor03: #004c5d;
  --cor04: #00504a;
  --cor05: #285238;
  /* Tema claro */
  --cor06: #f2f2f2;
  --cor07: #ededed;
  --cor08: #e9e7e7;
  --cor09: #e3e2e1;
  --cor10: #dddddb;
  --cor-letra-preta: #0e0e0e;
  /* Tema escuro */
  --cor11: #1c1c1c;
  --cor12: #292929;
  --cor13: #373737;
  --cor14: #464646;
  --cor15: #555555;
  --cor-letra-branca: #d9d9d9;

  /* Gradientes */
  --gradiente-colorido: var(--cor01), var(--cor02), var(--cor03), var(--cor04), var(--cor05);
  --gradiente-claro: var(--cor06), var(--cor07), var(--cor08), var(--cor09), var(--cor10);
  --gradiente-escuro: var(--cor11), var(--cor12), var(--cor13), var(--cor14), var(--cor15);

  /* CORES EM USO */
  --cor-fundo: var(--cor10);
  --cor-texto: var(--cor-letra-preta);

  --cor-titulo-01: var(--cor01);
  --cor-titulo-02: var(--cor05);

  /* FONTES */
  --fonte-titulos: "Gravidaz", "Lato", sans-serif;
  --fonte-texto: "Lato", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;

  font-family: var(--fonte-texto);
}
body {
  background-color: var(--cor-fundo);
}

/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fonte-titulos);
  text-align: center;
}
h2 {
  color: var(--cor01);
  font-size: 2.5em;
}
h3 {
  color: var(--cor05);
  font-size: 2.1em;
}
/* HEADER */
header {
  background-image: linear-gradient(to right, var(--gradiente-colorido));

  margin: 0;
  color: var(--cor10);
  border-radius: 0 0 20px 20px;
}
header {
  text-align: center;

  padding-top: 24px;
  padding-bottom: 40px;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
h1 {
  font-weight: normal;
  font-size: 3.1em;

  margin: 0 6px;
}
header > p#slogan {
  font-family: var(--fonte-titulos);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.3em;

  margin-top: 10px;
  font-variant: small-caps;
}
/* NAV */
nav {
  position: fixed;
  z-index: 2; /*Não ser sobreposto por outros elementos*/

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px 0 0 10px;

  display: flex;
  top: 140px;
  right: 0;
}
span#menu-icone {
  font-size: 3em;
}
/* MAIN */
main {
  border-radius: 20px 20px 0 0;
  margin-left: 0;
  margin-right: 0;
}
article {
  text-align: justify;
  padding-left: 6px;
  padding-right: 6px;
}
p {
  font-size: 1.2em;
}
article p {
  margin: 10px;
}
/* Negrito */
strong {
  color: var(--cor05);
  font-weight: 700;
}
/* Section com imagem e article transparente */
section.background-imagem {
  margin-top: 20px;
  padding: 100px 30px;
  border-radius: 20px 20px 0 0;
  box-shadow: inset 0px 20px 20px 5px rgba(0, 0, 0, 0.5);
}
section.background-imagem > article,
section.background-imagem > aside {
  padding: 15px;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  border-radius: 10px;

  backdrop-filter: blur(20px);
  margin-bottom: 10px;

  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
section.background-imagem > article {
  margin-bottom: 50px;
}
section.background-imagem > aside {
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: 1.1em;
}
/* DIVs após imagem com efeito parallax */
.depois-imagem-fixa {
  margin-top: -15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 19px;

  background-color: var(--cor-fundo);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
}
.centralizado {
  text-align: center;
}
a {
  text-decoration: none;
}
